.env

.venv/
venv/

simple-etl/dbt/logs/
simple-etl/dbt/target/

simple-etl/airflow/logs/

.DS_Store
**/.DS_Store

__pycache__/
*.py[cod]
*$py.class

.idea/

.pytest_cache/
.mypy_cache/
.ruff_cache/

.ipynb_checkpoints/

airflow/logs/
airflow/logs/**
airflow/logs/scheduler/